name: Build Go application
run-name: Build Go application from github action
on:
  push:
    branches:
      - "build"

jobs:
  build-go-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Check Go Version
        run: go version
      - name: Build the Go App
        run: go build -o app
      - name: Upload Go App
        uses: actions/upload-artifact@v3
        with:
          name: go-app
          path: app
  run-go-app:
    needs: build-go-app 
    runs-on: ubuntu-latest
    steps:
      - name: Download built app
        uses: actions/download-artifact@v3
        with:
          name: go-app
      - name: List files
        run: ls ${{ github.workspace }}
      - name: Add execute permission
        run: chmod +x ./app
      - name: Run the built app
        run: ./app
      
